@import "tailwindcss";

:root {
  --background: #1a1a0d; /* Sickly dark yellow-black */
  --foreground: #e0e0ce; /* Dirty white */
  --decay-1: #dfff00; /* Chartreuse */
  --decay-2: #ff00ff; /* Magenta */
  --decay-3: #00ffff; /* Cyan */
  --dust: #888888;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-decay-1: var(--decay-1);
  --color-decay-2: var(--decay-2);
  --color-decay-3: var(--decay-3);
  --color-dust: var(--dust);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  overflow-x: hidden;
  cursor: crosshair;
}

/* Weirdification Utils */
.glitch-text:hover {
  text-shadow: 2px 2px var(--decay-1), -2px -2px var(--decay-2);
  transform: skewX(-10deg);
}

::selection {
  background: var(--decay-2);
  color: #000;
  text-decoration: wavy underline;
}
